.login{
    width: 100vw;
    height: calc(100vh - 120px - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login button,
.user-info button{
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: rgba(41, 107, 194, 1);
    margin: 10px 0;
}

input{
    border: 1px solid rgb(233, 232, 232);
    padding: 10px;
}

.switch-login{
    color: rgb(41, 107, 194);
    font-size: 14px;
    cursor: pointer;
}

.user-info{
    min-height: calc(100vh - 120px - 100px);
}

@media(max-width: 680px){
    .login{
        height: calc(100vh - 120px - 76px);;
    }
    .user-info{
        min-height: calc(100vh - 120px - 76px);
    }
    .switch-login{
        font-size: 12px;
    }
}