.sidebar-content .sidebar-item{
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
    color: black;
}

.sidebar-content .sidebar-item:hover{
    background: rgb(41, 107, 194);
    color: white;
}

.sidebar-content .collapse-menu{
    background-color: rgb(233, 232, 232);
}

a{
    display: block;
    text-decoration: none;
}

#toggle{
    display: flex;
    align-items: center;
}

@media(max-width: 680px){
    .sidebar-content .sidebar-item{
        font-size: 14px;
    }
}